*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes opacityElement {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes inFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-210%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes inFromBottom {
  0% {
    opacity: 0;
    transform: translateY(11.2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.heading-primary {
  color: #FFF;
  margin-bottom: 4rem; }
  .heading-primary--in-left-animated {
    animation: inFromLeft 1.5s ease-in .2s;
    animation-fill-mode: backwards; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    padding-bottom: 2rem; }
  .heading-primary--main::after {
    content: "";
    display: block;
    width: 100%;
    height: .2rem;
    background-color: #FFF; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: #FFF; }

.header-container {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%); }

.heading-secondary {
  font-size: 2rem;
  margin: 0 auto;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5rem; }
  .heading-secondary::after {
    content: "";
    height: .2rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 8rem;
    background-color: #fd8a10; }

.u-center-text {
  text-align: center; }

.u-big-margin-bottom {
  margin-bottom: 4rem; }

.u-big-margin-top {
  margin-top: 4rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 10rem;
  letter-spacing: .1rem;
  transition: all .3s;
  background-color: #fd8a10; }

.btn--in-bottom-animated {
  animation: inFromBottom 1s ease-in .4s;
  animation-fill-mode: backwards; }

.btn--primary {
  color: #F8F8F8; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.3rem 0.4rem 0rem rgba(0, 0, 0, 0.15); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.3rem 0.1rem 0rem rgba(0, 0, 0, 0.15); }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative; }
  .header--opacity-animated {
    animation: opacityElement .8s ease-in .3s;
    animation-fill-mode: backwards; }
  .header__main-nav {
    position: relative; }
    .header__main-nav--logo-text {
      text-align: left;
      display: inline-block;
      padding: 2rem 4rem;
      color: #F8F8F8;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-weight: 400;
      font-size: 1.4rem; }
    .header__main-nav__menu {
      float: right;
      margin: 2rem 4rem; }
      .header__main-nav__menu li {
        list-style: none;
        display: inline-block; }
        .header__main-nav__menu li a {
          color: #F8F8F8;
          text-transform: uppercase;
          letter-spacing: .3rem;
          font-weight: 400;
          font-size: 1.4rem;
          text-decoration: none;
          padding: 0rem 1rem; }
      .header__main-nav__menu li:not(:first-child) {
        margin-left: 2rem; }
      .header__main-nav__menu--border-underliner {
        position: relative;
        height: 100%; }
      .header__main-nav__menu--border-underliner::after {
        content: "";
        position: absolute;
        bottom: -.8rem;
        left: 0rem;
        display: block;
        width: 100%;
        height: .1rem;
        background-color: #FFF;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .8s; }
      .header__main-nav__menu--border-underliner:hover::after {
        transform: scaleX(1); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem)*2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (6rem)*2)) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem)*3) / 4); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem)*3)) / 4 + 2 * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem)*3) / 4) + 6rem); }

.about-section {
  height: 100vh;
  background-color: #FFF;
  position: relative; }
