
// COLORS
$base-color: #777;
$black-color: #000;
$light-grey-color: #F8F8F8;
$medium-grey-color: #7E7E7E;
$medium-red-wine-color: #ac1e1e;
$dark-red-wine-color: #600000;
$transparent-color: transparent;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;