
// COLORS
$base-color: #777;
$black-color: #000;
$white-color: #FFF;
$light-grey-color: #F8F8F8;
$medium-grey-color: #C9C9C9;
$dark-grey-color: #414141;
$medium-red-wine-color: #ac1e1e;
$dark-red-wine-color: #600000;
$light-orange-color: #FFA342;
$medium-orange-color: #fd8a10;
$dark-orange-color: #CB6800;
$transparent-color: transparent;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;