.btn { 
    &:link,
    &:visited {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 900;
        display: inline-block;
        padding: .8rem 4rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        border-radius: 1rem;
        transition: all .3s;
        background-color: $medium-orange-color;
    }

    &--in-bottom-animated {
        animation: inFromBottom 1s ease-in .4s;
        animation-fill-mode: backwards;
    }    

    &--primary {
        color: $light-grey-color;
    }
    
    &:hover {
        background-color: $dark-orange-color;
        transform: translateY(-.2rem);
        box-shadow: .2rem .2rem 0rem rgba($black-color, 0.15);
    }
    
    &:active {
        background-color: $dark-orange-color;
        transform: translateY(-.1rem);
        box-shadow: .2rem .1rem 0rem rgba($black-color, 0.15);
    }    
}